<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
        I have over 2 years of experience as a software engineer, and have worked
        at both small startups and large organizations. While I am a proficient Android and Java Enterprise
        developer, my passion is in building scalable API services.
        </p>
        <p>
        I love building things.
        While hard engineering problems are often fun to tackle,
        I am most attracted to solving real customer problems with a business justification.
        I am looking for a mid-level software developer role where I can take on team leadership 
        responsibilites, and gain experience with architecture and project management.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
        <ul>
          <li>
            Created a web-only API,that uses both RESTful and webocket services, which extracts data from a pdf and creates a standardize JSON output regardless of the pdf's originator.
          </li>
          <li>
            Given the opportunity to rewrite WinePOS's mobile Android solution were I was able to improve it's usability and performance, as well as add new features. 
          </li>
          <li>
            Manage an extensive FTP extract service to provide customer data to thier third party web services. 
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
