<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
        My personal interests include:
        </p>
        <ul>
          <li>
            <b>Self learning</b>. I have a strong passion for knowledge, with an endless list of questions. 
          </li>
          <li>
            <b>Antique Cars</b>. I have had a love and appreciation for antique cars ever since I was old enough to walk. As far back as I can remember, I
            have helped my father maintain his '58 Apache and '66 Chevelle SS.
          </li>
          <li>
            <b>Adventuring</b>. I enjoy spending weekends around the tri-state area camping, fishing, and hiking. 
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
        <ul>
          <li>
            This One Page Bio is an open source fork that has been tailored to my personal experiences.
          </li>
          <li>
            Created a client-side kiosk-like Android application for a private liquor store to display their live inventory.
          </li>
        </ul>
        <h3>Other Things</h3>
        <ul>
          <li>
            Working on a Ruby wrapper to manage an FTP data extract service.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
