<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
        My personal interests include:
        </p>
        <ul>
          <li>
            <b>Self learning</b>. I have a strong passion for knowledge, with an endless list of questions. 
          </li>
          <li>
            <b>Antique Cars</b>. I have had a love and appreciation for antique cars ever since I was old enough to walk. As far back as i can remember, I
            have helped by dad maintain his '58 Apache and '66 Chevelle SS.
          </li>
          <li>
            <b>Woodworking</b>. Carving signs and building custom furniture has been a hobby of mine for a few years. I find the ability to create things
            with my hands, other than software, and use my creativity in a unique way to be very satisfying. 
          </li>
          <li>
            <b>Adventuring</b>. I enjoy spending weekends around the tri-state area camping, fishing, and hiking. 
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
        <ul>
          <li>
            My website is a dynamically backed portfolio that can generate different format resumes.
          </li>
          <li>
            My One Page Portfolio is an open source fork that has been tailored to my personal experiences.
          </li>
        </ul>
        <h3>Other Things</h3>
        <ul>
          <li>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
